<h1>Welcome to da Kitchen</h1>

<h3>Order List</h3>

<table id="order-list">

  {{#each order}}
  <tr>
  <form id={{this._id}} class="kitchen-form" action="orderComplete" method="POST">
    
     <td>{{name}}</td>
     <td>{{price}}</td>
     <td>{{stock}}</td>
     <td><input type="submit" value="Out of Stock"/></td>
     <td><input type="button" name="edit" value="Edit" /></td>
    
  </form>
  </tr>
  {{/each}}
</table>

<br >
<input style="padding:2%" type="submit" id="add-id" value="ADD NEW INGREDIENT"/>

<form id="new-form" action="new" method="POST">
  Ingredient: <input type="text" name="name"/><br/>
  Price: <input type="text" name="price"/><br/>
  <input type="submit" value="Submit">
</form>