<h1>Place Yo Order</h1>

<h3>Ingredients List</h3>

<h4>Running Total:</h4>
<h3 id="runningTotal">$0.00</h3>
<!-- Use front end to get total -->

<form id="order-form" action="place" method=POST>
  {{#each ingredients}}
	  <input type="checkbox" 
	  	class="ingredient"
	  	id={{_id}} 
	  	name={{name}} 
	  	{{#unless this.stock}} 	
	  		disabled 
	  	{{/unless}}>
	  {{name}} ... {{price}}  <br>
  {{/each}}
  <br>
  <input type="text" name="orderName" placeholder="Order Name"/>
  <input type="submit" value="Place Order!"/>
</form>

