<h1>Place Yo Order</h1>

<h3>Ingredients List</h3>

<h4>Running Total: {{total}}</h4>

<form>
  {{#each ingredient}}
  <input type="checkbox" name="vehicle1" value="Bike">{{name}} {{price}}
  <br>

  <input type="submit" value="Place Order!">
</form>





<!-- <br>
<input type="submit" name="edit" value="ADD NEW INGREDIENT" />

<form id="addNew-form" action="addNewIngredient" method="POST">
  Ingredient: <input type="text" name="name"/><br/>
  Price: <input type="text" name="price"/><br/>
  <input type="submit" value="Submit">
</form>
 -->